<!DOCTYPE html>
<html>
<body>

<h1>POKéDEX</h1>
<p>See bottom right corner</p>

</body>
<script src="https://cdn.recast.ai/webchat/webchat.js"
channelId="6dc1e305-0d73-4060-b356-a64552dc29d0"
token="4cd5086253c0ef733c3ffcb4142db07a"
id="recast-webchat"></script>
</html>
